{% extends 'base.html' %}
{% block content %}


<body>
    

<div class="col">
    <h2 class=" text-center  text-muted">Login</h2>

    <form method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="text-white">Username</label>
            <input type="text" name="username" class="form-control" >
        </div>
        <div class="form-group">
            <label for="password" class="text-white">Password</label>
            <input type="password" name="password" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary mt-2 bi bi-arrow-right-square-fill"  > Login</button>

    </form>

</div>
</body>    

<style>

body{
    background-image: url(/static/img/bg/drone-sobre-fondo-oscuro_543889-296.webp);
    background-repeat: no-repeat;
   
}    
    
</style>

{% endblock %}


