{% extends 'base.html' %}

{% block content %}
<body>
    

<div class="card mt-5 text-white">

    <div class=" text-primary text-center mt-2">
        <p class="p">Registrarse</p> 
    </div>
   
    <form method="POST">
        
        {% csrf_token %}
        {{ registro_form.as_p }}

        <button class="btn btn-success buton">Crear</button>
    </form>

</div>

</body>
<style>
    body{
        background-color: rgb(0, 0, 0);
      
       
    }   
    .p{
        text-align: center;
        text-transform:capitalize;
        
    }
   /* .buton{
        margin-left: 40%;
        margin-right: 50%;
        border-radius: 5px;
    }*/
    label{
        color: rgba(151, 167, 185, 0.877);
    }
    
  
    
    .card{
        background-color: rgb(10, 10, 54);
     /*   width: 500px;*/
       /* border-radius: 0px 12px 100px 0px;*/
        font-family:Arial, Helvetica, sans-serif;
       
    }
    @media screen and (max-width: 700px) {
        .card{
            background-color: rgb(3, 19, 160);
            font-size: 15px;
           /* width: 300px;*/
            
            
            
        }



    }

</style>
{% endblock %}